body {
    background-color: #ff5f58;
}

header {
    text-align: center;
    margin: 20px 0px;
    font-size: 36px;
}

.player-container {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

.search-section {
    display: flex;
    justify-content: center;
}

.song-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: fit-content;
    margin-top: 15px;
}

.song-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 25%;
    margin: 40px;
    background-color: #fd9301;
    border:solid #9c2ea1 3px;
}

.song-box {
    display: flex;
    flex-direction: wrap;
    /* width: 100%; */
}

.song-info {
    justify-content: center;
    width: 50%;
    font-size: 14px;
}

.song-image {
    height: fit-content;
    width: 120px;

}